.hero-image {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  height: 650px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-radius: 6px;
  background-image: url("../images/pattarai_portrait.svg");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: none;
}

.blog-date.padding-top {
  display: inline-block;
  margin-top: 0px;
  padding: 5px 10px;
  background-color: rgba(189, 176, 216, 0.15);
  color: #6d5dff;
  text-transform: none;
}

@media screen and (max-width: 479px) {
  .hero-image.padding {
    width: 100%;
    height: 400px;
  }
}
@media screen and (max-width: 991px) {
  .hero-image.padding {
    margin-top: 40px;
  }
}